<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>My sweet blog</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar bg-light text-dark m-1 p-1">
    <div class="container-fluid">
        <a class="navbar-brand h1 text-decoration-none text-dark" asp-controller="Home" asp-action="Index"> My sweet blog! </a>
        <div class="navbar-nav">
            @if (!Context.User.Identity.IsAuthenticated)
            {
                <a class="nav-item  btn btn-sm btn-outline-success" asp-action="Login" asp-controller="Account"> Login</a>
                <a class="nav-item btn btn-sm btn-outline-success" asp-action="Register" asp-controller="Account"> Register</a>
            }
            else
            {
                <div class="nav-item"> Hi, @Context.User.Identity.Name!</div>
                <a class="nav-item btn btn-sm btn-outline-success" asp-action="Index" asp-controller="Dashboard"> Dashboard</a>
                <a class="nav-item btn btn-sm btn-outline-success" asp-action="Logout" asp-controller="Account"> Logout</a>
            }

        </div>
    </div>
</nav>
<div class="m-1 p-1">
    @RenderBody()
</div>
</body>
</html>