@model BlogEngine.ViewModels.Blog.IndexViewModel
<div class="card">
    <div class="card-header">
        <div class="card-title">
            @Model.Blog.BlogName
        </div>
        <div class="text-info">
            @Model.Blog.Description
        </div>
    </div>
</div>