@model BlogEngine.ViewModels.Account.RegisterViewModel

<div class="card">
    <div class="card-header">
        <div class="card-title"> Register: </div>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Register" asp-controller="Account">
            <div class="alert-danger" asp-validation-summary="All"></div>
            <input asp-for="Login" class="form-control" placeholder="Login"/>
            <input asp-for="Password" class="form-control" placeholder="Password" type="password"/>
            <input asp-for="PasswordConfirm" class="form-control" placeholder="Confirm password" type="password"/>
            <input asp-for="Email" class="form-control" placeholder="Email"/>
            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number"/>
            <input asp-for="AcceptedTnC" class="form-check"/> Accept T and C
            <button type="submit" class="btn btn-outline-success btn-sm">Confirm</button>
        </form>
    </div>

</div>
