@model Logic.Dtos.CommentViewModelDto
<div class="card">
    <div class="card-header">
        <div class="card-title"> @Model.AuthorName</div>
    </div>
    <div class="card-body">
        @Model.Content
    </div>
</div>
